certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
et-xmlfile==1.1.0
gevent==23.9.1
greenlet==3.0.0
grequests==0.7.0
idna==3.4
numpy==1.26.0
openpyxl==3.1.2
pandas==2.1.1
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tzdata==2023.3
urllib3==2.0.6
XlsxWriter==3.1.6
zope.event==5.0
zope.interface==6.1
